@font-face {
   font-family: 'Carlito-Regular';
   font-display: swap;
   src: url('file:///C:/Users/Edwin/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-02-28_235655/fonts/Carlito-Regular/font.ttf');
}
