@font-face {
   font-family: 'Carlito-Bold';
   font-display: swap;
   src: url('Carlito-Bold/font.ttf');
}
@font-face {
   font-family: 'Aldine';
   font-display: swap;
   src: url('Aldine/font.ttf');
}
@font-face {
   font-family: 'Carlito-Regular';
   font-display: swap;
   src: url('Carlito-Regular/font.ttf');
}
